[submodule "microservices/device-management"]
	path = microservices/device-management
	url = https://github.com/moon13/device-management.git
[submodule "microservices/temperature-monitoring"]
	path = microservices/temperature-monitoring
	url = https://github.com/moon13/temperature-monitoring.git
[submodule "microservices/temperature-processing"]
	path = microservices/temperature-processing
	url = https://github.com/moon13/temperature-processing.git
